/build
*.iml
.gradle
/.idea/workspace.xml
/.idea/libraries
/.idea
xbanner/build/
.DS_Store
/captures
.externalNativeBuild
.gitignore
gradlew
gradlew.bat
local.properties
/gradle
gradle.properties
blelibrary/build/
common/build/
GMUI/build/
ppscalelibrary/build/
nicevideoplayer/build/
xbanner/build/
TrackPoint/build/

/app/.cxx/
SensorsAnalyticsSDK/build/
*.log
